:root {

  /*  General
   *  ─────────────────────────────────── */
  
    --oc-white: #ffffff;
    --oc-white-rgb: 255, 255, 255;
    --oc-black: #000000;
    --oc-black-rgb: 0, 0, 0;
  
  
  /*  Gray
   *  ─────────────────────────────────── */
  
    --oc-gray-0: #f8f9fa;
    --oc-gray-0-rgb: 248, 249, 250;
    --oc-gray-1: #f1f3f5;
    --oc-gray-1-rgb: 241, 243, 245;
    --oc-gray-2: #e9ecef;
    --oc-gray-2-rgb: 233, 236, 239;
    --oc-gray-3: #dee2e6;
    --oc-gray-3-rgb: 222, 226, 230;
    --oc-gray-4: #ced4da;
    --oc-gray-4-rgb: 206, 212, 218;
    --oc-gray-5: #adb5bd;
    --oc-gray-5-rgb: 173, 181, 189;
    --oc-gray-6: #868e96;
    --oc-gray-6-rgb: 134, 142, 150;
    --oc-gray-7: #495057;
    --oc-gray-7-rgb: 73, 80, 87;
    --oc-gray-8: #343a40;
    --oc-gray-8-rgb: 52, 58, 64;
    --oc-gray-9: #212529;
    --oc-gray-9-rgb: 33, 37, 41;
}  


* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--oc-gray-9);
  background-color: var(--oc-gray-3);
}

.dark {
  color: var(--oc-gray-1);
  background-color: var(--oc-gray-8);
}
.dark .group {
  background-color: var(--oc-gray-7);
}
.dark .textlink {
  color: var(--oc-gray-1);
}

/* .dark ul li:after { background: linear-gradient(to right, rgba(73, 80, 87, 0) 0%, rgba(73, 80, 87, 0.7) 50%, #495057 100%); } */



#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  gap: 16px 16px;
}


.group {
  width: 220px;
  padding: 16px;
  background-color: var(--oc-gray-1);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  break-inside: avoid;
}

.group .title {
  font-size: 18px;
  margin: 0 0 8px;
  text-align: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}


.textlink {
  color: var(--oc-gray-9);
  text-decoration: none;
}
.textlink:hover {
  text-decoration: underline;
}

#settings {
  display: inline-block;
  position: absolute;
  bottom: 20px; right: 20px;
  text-decoration: none;
  color: var(--oc-gray-6);
  font-size: 14px;
}

